# {{ ansible_managed }}
127.0.0.1   localhost
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

# BEGIN k8s IP BLOCK
{% for item in groups['k8s'] %}
{{ hostvars[item].ansible_default_ipv4.address }} {{ hostvars[item].ansible_hostname ~'.'~ domain_name }} {{ hostvars[item].ansible_hostname }}
{% endfor %}
# END k8s IP BLOCK
